<table width="100%" border="0"  height="200"  style="padding:5px; border:1px solid #CCC;" >
    <tr><td valign="top">

        <table width="100%" border="0"     >
            <tr>
                <td height="35" style="background:#999; border-top-left-radius:10px; border-top-right-radius:10px; font-weight:bold; color:white;" align="center">关于我们</td>
            </tr>

            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;"  align="center">
                    <img src="img/menu05.png" width="16" style="vertical-align: bottom;">&nbsp;&nbsp;
                    <a href="/pc_guanyu_women?id=2">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp
                </td>
            </tr>

            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC;padding:10px;"  align="center">
                    <img src="img/m01.png" width="16" style="vertical-align: bottom;">&nbsp;&nbsp;
                    <a href="/pc_guanyu_women?id=3">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp
                </td>
            </tr>


            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC; padding:10px;" align="center">
                    <img src="img/center-icon-dlmm.png" width="16" style="vertical-align: bottom;">&nbsp;&nbsp;
                    <a href="/pc_guanyu_women?id=4">加入我们</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>

            <tr>
                <td  style="border-bottom:1px dotted #CCCCCC; padding:10px;"  align="center">
                    <img src="img/m05.png" width="16"  style="vertical-align: middle;">&nbsp;&nbsp;
                    <a href="/pc_guanyu_women?id=5">法律声明</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
        </table>

    </td></tr>
</table>

